<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="restartcss.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="viewport">
      <div id="header">
        <div class="icon">
          <img
            src="image/9_4_7_1275947_facebooklogopixabay_638327.jpg"
            alt=""
          />
        </div>
      </div>
      <div id="content">
        <div class="loginform">
          <div class="warningBox">
            Nội dung 18+ ,vui lòng đăng nhập trước khi xem.
          </div>
          <form>
            <div class="inputBox">
              <input
                name="username"
                v-model="username"
                autofocus
                class="_inputEmail"
                type="text"
                placeholder="Email hoặc số điện thoại"
              />
              <input
                name="password"
                v-model="password"
                class="_inputPass"
                type="password"
                placeholder="Mật khẩu"
              />
            </div>
            <button
              class="btnLogin"
              v-on:click="handler"
              type="submit"
              value="Login"
              name="login"
            >
              <span>Đăng Nhập</span>
            </button>
          </form>
        </div>
        <div class="footer">
          <span>©2016</span>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#content",
      data: {
        username: "",
        password: ""
      },
      methods: {
        //function kiem tra dang nhap
        handler: function() {
          if (this.username === "admin" && this.password === "123456") {
            alert("Đăng nhập thành công");
          } else {
            alert("Truy cập bị từ chối");
            window.location.href = "http://facebook.com";
            alert("");
          }
        }
      }
    });
  </script>
</html>
